[submodule "libft"]
	path = libft
	url = git@github.com:Azarielh/libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/Azarielh/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/Azarielh/get_next_line.git
